<h1>Schedule 3AMWorks</h1>
<p>This is a simple project to manage scheduling for multimedia division in church. To begin using, insert password below and login by facebook.</p>

<!-- <em class="hint">Siapa nama ketua multimedia?</em> -->
<!-- <input type="text" ng-model="password" class="form-control"> -->

<a ng-click="login()" href class="btn btn-lg btn-primary">Login Facebook</a>

<div>
    <h3>{{bulan[month-1]}} {{year}}</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Worker</th>
        </tr>
        <tbody ng-repeat="(tglId, tgl) in getTanggalMinggu(month, year)">
            <tr ng-repeat="(ibdhId, n) in [] | range:3">
                <td rowspan="3" ng-show="ibdhId == 0">{{tgl}}</td>
                <td>{{ibdhId+1}}</td>
                <td>
                    <div>
                       <p ng-repeat="item in data[tglId*3+ibdhId] | orderByPriority">
                            <img ng-src="http://graph.facebook.com/{{item.fbid}}/picture" alt="">
                            {{item.name}}
                       </p> 
                   </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Chat</h2>

<div id="messages" ng-show="messages" class="well">
    <div ng-repeat="message in messages | orderByPriority | reverse">
        <img src="http://graph.facebook.com/{{message.fbid}}/picture" alt=""> 
        {{message.text}}
    </div>
</div>